.app_main_menu{
  background-color: #FCFFF5; /* D1DBBD */
  width: 100%;
  height: 10%;
}

.app_main_menu ul{
  position: relative;
  width: 50%;
  height: auto;
  left: 50%;
  top: -5%;
}

.app_main_menu ul li{

}

.app_main_menu ul li:hover{

}